<footer class="has-background-white has-text-centered has-text-black py-3 is-bottom">
    <p>
        Movie Mate 2.0 © Group 3
    </p>
    <div class="hero-foot is-borderless">
        <nav class="tabs is-centered">
            <div class="container">
                <ul>
                    <li>
                        <a><i class="fab fa-github"></i></a>
                    </li>
                    <li>
                        <a><i class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                        <a><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                        <a><i class="fab fa-twitter"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</footer>