{{!-- navbar start --}}
<section class="hero is-white is-fullheight-with-navbar is-fullheight block has-background-info">
    <div class="hero-head has-background-white">
        <nav class="navbar card">
            <div class="container pl-3 is-fullwidth">
                <div class="navbar-brand is-size-4 p-1">
                    <a class="navbar-item p-3" href="/">
                        <h1 class="title tangerine has-text-info animate__animated animate__rubberband p-3">
                        <span class="icon is-small mr-5">
                            <i class="fas fa-ticket-alt"></i>
                        </span>
                            MovieMate    
                        <span class="icon is-small ml-5">
                            <i class="fas fa-ticket-alt"></i>
                        </span>
                        </h1>
                    </a>
                    <span class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenuHeroB">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </span>
                </div>
            <div id="navbarMenuHeroB" class="navbar-menu has-text-right">
                <div class="navbar-end">
                    <a class="navbar-item" href="/">
                        Movie Search
                    </a>
                    {{!-- Hide if signed in --}}
                    {{#if loggedIn}}   
                        <a class="navbar-item" href="/profile">
                            Profile
                        </a>
                        <a id="logout" class="navbar-item" >
                            Logout
                        </a>
                    <script src="/js/logout.js"></script>
                    {{else}}
                    <a class="navbar-item" href="/login">
                        Login
                    </a>
                    <a class="navbar-item" href="/sign-up">
                        Sign Up
                    </a>
                    {{/if}}
                </div>
            </div>
            
        </nav>
    </div>




