<!DOCTYPE html>
<html lang="en" class="has-background-info">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description" content="Enter your description here" />
    {{!-- google fonts --}}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine&family=Open+Sans">
    <!-- bulma css framework -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"/>
    <!-- font awesome icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <!-- amimation link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    {{!-- custom css --}}
    <link rel="stylesheet" href="/css/style.css"/> 
    <title id="web-title">Movie Mate</title>
  </head>

<body class="has-background-white">

    {{> navbar }}

     <!-- Add 3 img tags. Position = absolute top, left, and right. All images are movie theatre banners -->
    <header>
      <section class="background has-background-info hero has-text-centered">
        <div class="hero-body">
          <div class="container">
              
            {{#if search}}
                {{> searchbar }}
            {{/if}}

          </div>
        </div>
      </section>
    </header>
    {{{body}}}

    {{#if movieDetails}}
        {{>footerDetails}}
    {{else}}
        {{>footer}}
    {{/if}}


<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<script src="/axios/dist/axios.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/searchBar.js"></script>



{{!-- handlebars script tag?
<script>
  // compile the template
  var template = Handlebars.compile("Handlebars <b>{{doesWhat}}</b>");
  // execute the compiled template and print the output to the console
  console.log(template({ doesWhat: "rocks!" }));
</script> --}}

</body>
</html>