
    <!-- login -->
    <div class="hero is-info is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-4">
                        <form class="box" id="submit">
                            <h1 class="py-2">Login Here:</h1>
                            <div class="field">
                                <label class="label">
                                    Email
                                </label>
                                <div class="control has-icons-left">
                                    <input type="email" id="email" class="input" placeholder="e.g movie@example.com">
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Password</label>
                                <div class="control has-icons-left">
                                    <input type="password" class="input" 
                                    id="password" placeholder="Enter Password Here">
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">
                                    <input type="checkbox" class="checkbox">
                                    Remember me
                                </label>
                            </div>
                            <div class="field">
                                <button class="button is-info is-fullwidth">Login</button>
                            </div>
                            <div class="has-text-centered">
                              <p class="is-size-7"> Don't have an account? <a href="/sign-up" class="has-text-info">Sign Up Here!</a>
                              </p>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="/js/login.js"></script>
