{{!-- Table for log-in/sign-up --}}

<section class="hero is-info is-fullheight-with-navbar block">
    <div class="hero-head">
        <nav class="navbar card">
            <div class="container">
                <div class="navbar-brand is-size-4">
                    <a class="navbar-item p-4">
                        <h1 class="title has-text-white animate__animated animate__rubberband p-3">
                        <span class="icon is-small mr-5">
                            <i class="fas fa-ticket-alt"></i>
                        </span>
                            MovieMate    
                        <span class="icon is-small ml-5">
                            <i class="fas fa-ticket-alt"></i>
                        </span>
                        </h1>
                    </a>
                    <span class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenuHeroB">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </span>
                </div>
            </div>
            <div id="navbarMenuHeroB" class="navbar-menu">
                <div class="navbar-end">
                  <a class="navbar-item is-active" href="#homepage">
                    Home
                  </a>
                  <a class="navbar-item" href="#movieDetails">
                    Movie Details
                  </a>
                  <a class="navbar-item" href="#login">
                    Login
                  </a>
                  <a class="navbar-item" href="#profile">
                    Profile
                  </a>
                </div>
        </nav>
            </div>
    </div>

    <!-- login -->
    <div class="hero is-info is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-4">
                        <form action="" class="box">
                            <h1 class="py-2">Login Here:</h1>
                            <div class="field">
                                <label class="label">
                                    Email
                                </label>
                                <div class="control has-icons-left">
                                    <input type="email" class="input" placeholder="e.g movie@example.com">
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Password</label>
                                <div class="control has-icons-left">
                                    <input type="password" class="input" placeholder="Enter Password Here">
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">
                                    <input type="checkbox" class="checkbox">
                                    Remember me
                                </label>
                            </div>
                            <div class="field">
                                <button class="button is-info">Login</button>
                            </div>
                            <div class="field">
                                <button class="button is-info">Sign Up</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>