{{!-- Search Bar --}}

{{!-- Modal that pulls data from omdb search --}}
<main class="is-fullheight has-background-white">
    <div id="search-results" class="is-6 p-4 is-hidden">
        <div class="card events-card">
            <header class="card-header ">
                <p class="card-header-title">
                    Search Results
                </p>
            </header>
            <div class="card-table">
                <table class="table is-fullwidth is-striped">
                    <tbody id="table-body">

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</main>

