
{{!-- Main data --}}
<main class="container">
    <section id="main-data" class="columns is-multiline">
        <!-- Column 1 -->
        <!-- This is a spacer -->
        <div class="column is-1 is-hidden-mobile has-background-info">
        </div>

            {{> details }}

        <!-- Column 3 -->
        <!-- This is a spacer -->
        <div class="column is-1 is-hidden-mobile has-background-info bot-layer">
        </div>

    </section>
</main>