{{!-- Username --}}
{{!-- Movie Reviews --}}

<section class="hero is-white is-fullheight-with-navbar block">
        <div class="hero-head">
            <nav class="navbar card">
                <div class="container">
                    <div class="navbar-brand is-size-4 p-1">
                        <a class="navbar-item p-3">
                            <h1 class="title has-text-info animate__animated animate__rubberband p-3">
                            <span class="icon is-small mr-5">
                                <i class="fas fa-ticket-alt"></i>
                            </span>
                                MovieMate    
                            <span class="icon is-small ml-5">
                                <i class="fas fa-ticket-alt"></i>
                            </span>
                            </h1>
                        </a>
                        <span class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenuHeroB">
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                        </span>
                    </div>
                </div>
                <div id="navbarMenuHeroB" class="navbar-menu">
                    <div class="navbar-end">
                    <a class="navbar-item is-active" href="#homepage">
                        Home
                    </a>
                    <a class="navbar-item" href="#movieDetails">
                        Movie Details
                    </a>
                    <a class="navbar-item" href="#login">
                        Login/Sign Up
                    </a>
                    <a class="navbar-item" href="#profile">
                        Profile
                    </a>
                    </div>
            </nav>
                </div>
        </div>

<!-- side table -->
<!-- <div class="container"> -->
    <div class="columns p-4">
        <div class="is-3 p-3">
            <aside class="menu is-hidden-mobile">
                <p class="menu-label">
                    Profile
                </p>
                <ul class="menu-list">
                    <li><a>Your Comments</a></li>
                    <li><a>Your Activity</a></li>
                    <li><a>Settings</a></li>
                </ul>
            </aside>
        </div>
        <div class="column is-9">
            <section class="hero is-info welcome is-small">
                <div class="hero-body">
                    <div class="container">
                        <div class="column">
                        <h1 class="title">
                            Hello, welcome to your profile!
                        </h1>
                        <div class="columns is-mobile is-centered">
                        <div class="column">
                        <figure class="image is-128x128">
                            <img class="is-rounded" src="placeholder profile.jpeg">
                        </figure>
                    </div>
                </div>
            </section>
            <section class="info-tiles">
                <div class="tile has-text-centered">
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="title">20</p>
                            <p class="subtitle">Reviews</p>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="title">100</p>
                            <p class="subtitle">Movies Watched</p>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="title">10</p>
                            <p class="subtitle">Friends</p>
                        </article>
                    </div>
                    
                </div>
            </section>
                <div class="is-6">
                    <div class="card events-card">
                        <header class="card-header">
                            <p class="card-header-title">
                                Your Reviews
                            </p>
                            <!-- <a href="#" class="card-header-icon">
                            </a> -->
                        </header>
                        <div class="card-table">
                            <div class="content">
                                <table class="table is-fullwidth is-striped">
                                    <tbody>
                                        <tr>
                                            <td width="5%"><i class="fa fa-bell-o"></i></td>
                                            <td>Lorum ipsum dolem aire</td>
                                            <td class="level-right"><a class="button is-small is-info" href="#">View Full Review</a></td>
                                        </tr>
                                        <tr>
                                            <td width="5%"><i class="fa fa-bell-o"></i></td>
                                            <td>Lorum ipsum dolem aire</td>
                                            <td class="level-right"><a class="button is-small is-info" href="#">View Full Review</a></td>
                                        </tr>
                                        <tr>
                                            <td width="5%"><i class="fa fa-bell-o"></i></td>
                                            <td>Lorum ipsum dolem aire</td>
                                            <td class="level-right"><a class="button is-small is-info" href="#">View Full Review</a></td>
                                        </tr>
                                        <tr>
                                            <td width="5%"><i class="fa fa-bell-o"></i></td>
                                            <td>Lorum ipsum dolem aire</td>
                                            <td class="level-right"><a class="button is-small is-info" href="#">View Full Review</a></td>
                                        </tr>
                                        <tr>
                                            <td width="5%"><i class="fa fa-bell-o"></i></td>
                                            <td>Lorum ipsum dolem aire</td>
                                            <td class="level-right"><a class="button is-small is-info" href="#">View Full Review</a></td>
                                        </tr>
                                        <tr>
                                            <td width="5%"><i class="fa fa-bell-o"></i></td>
                                            <td>Lorum ipsum dolem aire</td>
                                            <td class="level-right"><a class="button is-small is-info" href="#">View Full Review</a></td>
                                        </tr>
                                        <tr>
                                            <td width="5%"><i class="fa fa-bell-o"></i></td>
                                            <td>Lorum ipsum dolem aire</td>
                                            <td class="level-right"><a class="button is-small is-info" href="#">View Full Review</a></td>
                                        </tr>
                                        <tr>
                                            <td width="5%"><i class="fa fa-bell-o"></i></td>
                                            <td>Lorum ipsum dolem aire</td>
                                            <td class="level-right"><a class="button is-small is-info" href="#">View Full Review</a></td>
                                        </tr>
                                        <tr>
                                            <td width="5%"><i class="fa fa-bell-o"></i></td>
                                            <td>Lorum ipsum dolem aire</td>
                                            <td class="level-right"><a class="button is-small is-info" href="#">View Full Review</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a href="#" class="card-footer-item">View All</a>
                        </footer>
                    </div>
                </div>
                </header>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="has-background-white has-text-centered has-text-black py-6">
    <p>
      Movie Mate 2.0© 
    </p>
    <div class="hero-foot">
      <nav class="tabs is-centered">
        <div class="container">
          <ul>
            <li>
              <a><i class="fab fa-github"></i></a>
            </li>
            <li>
              <a><i class="fab fa-facebook"></i></a>
            </li>
            <li>
              <a><i class="fab fa-instagram"></i></a>
            </li>
            <li>
              <a><i class="fab fa-twitter"></i></a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </footer>