<!-- side table -->
<!-- <div class="container"> -->
    <div class="columns p-4 has-background-white">
        <div class="is-3 p-3 ">
            <aside class="menu is-hidden-mobile ">
                <p class="menu-label">
                    Profile
                </p>
                <ul class="menu-list">
                    <li><a>Your Comments</a></li>
                    <li><a>Your Activity</a></li>
                    <li><a>Settings</a></li>
                </ul>
            </aside>
        </div>
        <div class="column is-9">
            <section class="hero is-info welcome is-small">
                <div class="hero-body">
                    <div class="container is-flex is-flex-direction-row is-justify-content-space-between">
                        <h1 class="title">
                            Hello, welcome to your profile!
                        </h1>
                        <figure class="image is-128x128">
                            <img class="is-rounded" src="/imgs/placeholder_profile.jpeg">
                        </figure>
                    </div>
                </div>
            </section>
            <section class="info-tiles">
                <div class="tile has-text-centered">
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="title">20</p>
                            <p class="subtitle">Reviews</p>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="title">100</p>
                            <p class="subtitle">Movies Watched</p>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="title">10</p>
                            <p class="subtitle">Friends</p>
                        </article>
                    </div>
                    
                </div>
            </section>

                <div class="is-6">
                    <div class="card events-card">
                        <header class="card-header">
                            <p class="card-header-title">
                                Your Reviews
                            </p>
                            <!-- <a href="#" class="card-header-icon">
                            </a> -->
                        </header>
                        <div class="card-table">
                            <div class="content">
                                <table class="table is-fullwidth is-striped">
                                    <tbody>
                                        <tr>
                                            <td width="5%"><i class="fa fa-bell-o"></i></td>
                                            <td>Lorum ipsum dolem aire</td>
                                            <td class="level-right"><a class="button is-small is-info" href="#">View Full Review</a></td>
                                        </tr>
                                        <tr>
                                            <td width="5%"><i class="fa fa-bell-o"></i></td>
                                            <td>Lorum ipsum dolem aire</td>
                                            <td class="level-right"><a class="button is-small is-info" href="#">View Full Review</a></td>
                                        </tr>
                                        <tr>
                                            <td width="5%"><i class="fa fa-bell-o"></i></td>
                                            <td>Lorum ipsum dolem aire</td>
                                            <td class="level-right"><a class="button is-small is-info" href="#">View Full Review</a></td>
                                        </tr>
                                        <tr>
                                            <td width="5%"><i class="fa fa-bell-o"></i></td>
                                            <td>Lorum ipsum dolem aire</td>
                                            <td class="level-right"><a class="button is-small is-info" href="#">View Full Review</a></td>
                                        </tr>
                                        <tr>
                                            <td width="5%"><i class="fa fa-bell-o"></i></td>
                                            <td>Lorum ipsum dolem aire</td>
                                            <td class="level-right"><a class="button is-small is-info" href="#">View Full Review</a></td>
                                        </tr>
                                        <tr>
                                            <td width="5%"><i class="fa fa-bell-o"></i></td>
                                            <td>Lorum ipsum dolem aire</td>
                                            <td class="level-right"><a class="button is-small is-info" href="#">View Full Review</a></td>
                                        </tr>
                                        <tr>
                                            <td width="5%"><i class="fa fa-bell-o"></i></td>
                                            <td>Lorum ipsum dolem aire</td>
                                            <td class="level-right"><a class="button is-small is-info" href="#">View Full Review</a></td>
                                        </tr>
                                        <tr>
                                            <td width="5%"><i class="fa fa-bell-o"></i></td>
                                            <td>Lorum ipsum dolem aire</td>
                                            <td class="level-right"><a class="button is-small is-info" href="#">View Full Review</a></td>
                                        </tr>
                                        <tr>
                                            <td width="5%"><i class="fa fa-bell-o"></i></td>
                                            <td>Lorum ipsum dolem aire</td>
                                            <td class="level-right"><a class="button is-small is-info" href="#">View Full Review</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {{!-- <footer class="card-footer">
                            <a href="#" class="card-footer-item">View All</a>
                        </footer> --}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/profile.js"></script>