
<!-- side table (Left Out For Now) -->

<!-- <div class="container"> -->
    {{!-- <div class="columns p-4 has-background-white">
        <div class="is-3 p-3">
            <aside class="menu is-hidden-mobile">
                <p class="menu-label">
                    Profile
                </p>
                <ul class="menu-list">
                    <li><a class=""> <!--figure out how to turn it info color-->
                        Your Reviews
                    </a></li>
                    <li><a>Your Activity</a></li>
                    <li><a>Settings</a></li>
                </ul>
            </aside>
        </div> --}}

<div class="hero has-background-white">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-9">
                    <section class="hero is-info welcome is-small">
                        <div class="hero-body">
                            <div class="container is-flex is-flex-direction-row is-justify-content-space-between">
                                <div class="is-flex is-flex-direction-column">
                                    <h1 class="title movie-title"></h1>
                                    <p class="movie-actors"></p>
                                    <p class="movie-director"></p>
                                    <p class="movie-writer"></p>
                                    <p class="movie-rated"></p>
                                    <p class="movie-released"></p>
                                    <p class="movie-genre"></p>
                                </div>

                                <figure class="image">
                                    <img class="movie-poster" src="">
                                </figure>
                            </div>
                        </div>
                    </section>

                    <br> {{!line break}}

                    <section>
                        <div class="card-master is-6">

                            {{!-- Start DOM Generation Here --}}
                        
                        {{#if loggedIn}}
                        {{!-- Form Start --}}
                        
                        <form class="box" id="submit-review">
                            <h1 class="py-2">Add a Review:</h1>
                            <div class="field">
                                <label class="label">
                                    Score (1-10):
                                </label>
                                <div class="control">
                                    <div class="select">
                                        <select id="review-score">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                            <option>10</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">
                                    Review:
                                </label>
                                <textarea class="textarea is-info" id="review-text" placeholder="What did you think about the movie?"></textarea>
                            </div>
                            <div class="field">
                                <button class="button is-info is-fullwidth">Add Review</button>
                            </div>
                            {{else}}
                            <div class="has-text-centered">

                                <br>
                                <a href="/login" class="has-text-info">
                                    <button class="button is-info is-fullwidth">Log in!</button>
                                </a>
                                <p class="is-size-7 pt-2"> 
                                    You must me logged in to post a review. 
                                </p>
                            </div>
                            <br>
                            {{/if}}
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/reviews.js"></script>

