{{!-- Table for sign up --}}

   <!-- sign in -->
    <div class="hero is-info is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-4">
                        <form action="" class="box">
                            <h1 class="py-2">Sign Up Here:</h1>
                            <div class="field">
                                <label class="label">
                                    Email
                                </label>
                                <div class="control has-icons-left">
                                    <input type="email" class="input" placeholder="e.g movie@example.com">
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">
                                    Username
                                </label>
                                <div class="control has-icons-left">
                                    <input type="username" class="input" placeholder="Must be 8-10 characters">
                                    <span class="icon is-small is-left">
                                        <i class=" fa fa-regular fa-user"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Password</label>
                                <div class="control has-icons-left">
                                    <input type="password" class="input" placeholder="Enter Password Here">
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-regular fa-key"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Confirm Password</label>
                                <div class="control has-icons-left">
                                    <input type="password" class="input" placeholder="Re-type Password Here">
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">
                                    <input type="checkbox" class="checkbox">
                                    Remember me
                                </label>
                            </div>
                            <div class="field">
                                <button class="button is-info is-fullwidth">Create Account</button>
                            </div>
                            <div class="has-text-centered">
                                <p class="is-size-7"> Already have an account? <a href="#" class="has-text-info">Login!</a>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 <!-- footer -->
 <footer class="has-background-white has-text-centered has-text-black py-6">
    <p>
      Powered by © and © 
    </p>
    <div class="hero-foot">
      <nav class="tabs">
        <div class="container">
          <ul>
            <li>
              <a><i class="fab fa-github"></i></a>
            </li>
            <li>
              <a><i class="fab fa-facebook"></i></a>
            </li>
            <li>
              <a><i class="fab fa-instagram"></i></a>
            </li>
            <li>
              <a><i class="fab fa-twitter"></i></a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </footer>
