/* This is our CSS page */
html,body {
    margin:0;
    padding:0;
    overflow-x: hidden;
    }

.tangerine {
    font-family: 'Tangerine', serif;
    font-size: 48px;
}

.papyrus {
    font-family: 'Papyrus';
    font-size: 40px;
}

.courier-new {
    font-family: 'courier-new';
}

.fantasy {
    font-family: 'Luminari, fantasy';
}

.typewriter {
    font-family: 'American Typewriter, serif';
}

.optima {
    font-family: 'Optima, sans-serif';
}

.hide {
    display: none;
}

.no-margins {
    margin: 0px;
}

.is-roundeds {
    border-radius: 5px;
}

.is-fullheight {
    height: 100%;
}

.is-fullwidth {
    width: 100vw;
}

.max {
    max-width: 640px;
    max-height: 360px;
}

.has-border-bottom {
    border: 1px, solid, grey;
    color: red;
}

.is-bottom {
    margin-top: auto;
    /* position: absolute;
    bottom: 0; */
}

.movie-poster {
    max-height: 180px;
    max-width: 120px;
}